<p fundoAmarelo>
  Texto com fundo amarelo.
</p>
<button fundoAmarelo>Botão com fundo amarela.</button>

<p highlightMouse [textoDiretiva]="texto" >
  Texto com highlight quando passo o mouse
</p>

<p [highlight]="'red'" [default]="'grey'">
    Texto com highlight com cores customizadas.
</p>
<!--
<div  class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Modal Header</h4>        
      </div>
      <div class="modal-body">
        <p>This is small modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>    
  </div>
</div>-->

<div *ngIf="mostrarCurso">
  Lista de cursos aqui  
  <p *ngFor="let curso of cursos">{{curso}}</p>
</div>

<div *ngElse="mostrarCurso" >
  Não existem cursos para serem listados.
</div>
  
<button (click)="onMostrarCursos()">Mostrar e Ocultar Cursos</button>