<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>


  <!--<app-diretiva-ngif></app-diretiva-ngif>-->
  <!--<diretiva-ngswitch></diretiva-ngswitch>-->
  <!--<diretiva-ngfor></diretiva-ngfor>-->
  <!--<diretiva-ngclass></diretiva-ngclass>-->
  <!--<diretiva-ngstyle></diretiva-ngstyle>-->
  <!--<operador-elvis></operador-elvis>-->
 <!-- <diretiva-ngcontent>
    <div class="titulo">
      Título do painel
    </div>
    
    <div class="corpo">
        Conteudo passado para o componente
      </div>
  </diretiva-ngcontent>-->
  <diretivas-customizadas [texto]="teste"></diretivas-customizadas>
</div>

